<section class="home-page" id="primary-content">
      <div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <%= image_tag ('cross.png') %>
            <div class="carousel-caption">
              <h1 class="animated bounceInLeft">Torrance First Presbyterian English Ministry</h1>
              <h3 class="animated bounceInRight">Come and Join us today!</h3>
              <button class="btn btn-success">Explore</button>
            </div>
          </div>
          <div class="item">
            <%= image_tag ('sky.png') %>
            <div class="carousel-caption">
              <div class="row">
                <div class="col-md-offset-6">
                <h2 class="animated fadeInUp">"Do not be anxious about anything, but in everything, by prayer and petition, with thanksgiving, present your requests to God."</h2>
                <p> - Philippians 4:6 </p>
                </div>
              </div>
            </div>
          </div>

           <!-- <div class="item">
            <%= image_tag ('banner.gif') %>
            <div class="carousel-caption">
              
            </div>
          </div> -->
          
        </div>

        
        <a  href="#carousel-example-generic" role="button" data-slide="prev"></a>
        <a href="#carousel-example-generic" role="button" data-slide="next"></a>

      </div>
</section>