<section>
	<div class="container-fluid">
		<div class="row">
			<div>
				<% @announcements.each do |announcement| %>

					<%= image_tag announcement.image.url, :size => "360x280", :crop => :fill %>

				<% end %>
			</div>
		</div>
	</div>
</section>