<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a href="/" class="logo">TFPC</a>
        </div>

        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="">About</a>
                </li>
                <li>
                   <a href="">Connect</a>     
                </li>
                <li>
                    <a href="">Contact</a>
                </li>
            </ul>
        </div>
       
    </div>
</nav>