<section class="about-page">
	<h1 class="about-title animated fadeInLeft">Welcome to TFPC English Ministry</h1>
	<section class="about-primary">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 animated fadeInUp">
					<%= image_tag ('people.jpg') %>
				</div>

				<div class="col-lg-6 primary-p animated fadeInRight">
					<p>
						The English Ministry at TFPC was launched in 2009 to serve the growing 2nd Generation Korean American and Asian American Community here in the South Bay. 
					</p>
					<p>
						We welcome all walks of life, young and old, families and singles, seekers and searcher, lost and found to come together and discover who God is in our midst and share in his presence.
					</p>
					<p>
						The English Ministry belongs to the larger multi-generational church.  There is an older 1st Generation Korean speaking congregation and a younger vibrant 3rd generation Sunday School, with our EM sandwiched nicely in between.
					</p>
					<p>
						We welcome you to come and visit with us and be a part of God’s community!
					</p>
				</div>
			</div>
		</div>
	</section>
	<!-- about-primary -->

	<section class="about-third">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 third-p animated fadeInLeft">
					<p>
						Pastor Billy Song begins his 13th year of ministry here at TFPC, and has served as the Education Pastor until the New English Ministry was launched in 2009.  Locally raised, Pastor Billy studied at U.S.C. and went east to study at Princeton Theological Seminary, returning to serve in the 2nd Generation ministry ever since.
					</p>
					<p>
						He and his wife Christine have a daughter Abigail.
					</p>
					<p>
						 Rev. Billy Song can be reached at  kahunabill@aol.com
					</p>
				</div>

				<div class="col-lg-6">
					<h2 class="third-title animated fadeInRight">Pastor Billy Song</h2>
                    <div class="animated fadeInUp">
					   <%= image_tag 'billy.jpg', size:"400x300" %>
                    </div>
				</div>
			</div>
		</div>
	</section>
	<!-- about-third -->

</section>

<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/110111327&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
     
</section>

<script>
    
$(document).ready(function(){

    $('#calendar').fullCalendar({
        events: '/events.json'
    });

    $('a.page-scroll').bind('click', function(event) {
		    var $anchor = $(this);
		    $('html, body').stop().animate({
		        scrollTop: $($anchor.attr('href')).offset().top
		    }, 1500, 'easeInOutExpo');
		    event.preventDefault();
		});

});

</script>
