<section class="about-page">
	<h1 class="about-title">Welcome to TFPC English Ministry</h1>
	<section class="about-primary">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<%= image_tag ('people.jpg') %>
				</div>

				<div class="col-lg-6 about-p">
					<p>
						The English Ministry at TFPC was launched in 2009 to serve the growing 2nd Generation Korean American and Asian American Community here in the South Bay. 
					</p>
					<p>
						We welcome all walks of life, young and old, families and singles, seekers and searcher, lost and found to come together and discover who God is in our midst and share in his presence.
					</p>
					<p>
						The English Ministry belongs to the larger multi-generational church.  There is an older 1st Generation Korean speaking congregation and a younger vibrant 3rd generation Sunday School, with our EM sandwiched nicely in between.
					</p>
					<p>
						We welcome you to come and visit with us and be a part of God’s community!
					</p>
				</div>
			</div>
		</div>
	</section>
	<!-- about-primary -->

	<section>
		<div class="about-secondary">
			
		</div>
	</section>

	<section>
		<div class="container">
			
		</div>
	</section>

</section>